@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="span4">

        <ul class="nav nav-pills nav-stacked bordered">
            <li><a href="#">Bilgisayar</a></li>
            <li><a href="#">Telefon</a></li>
            <li><a href="#">Tüketici Elektroniği</a></li>
            <li><a href="#">Hobi</a></li>
        </ul>

    </div>

    <div class="col-md-9">


        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 

        <div class="span4 product">
            <div class="product-title">
                <h3>
                    <a href="#">Product Name</a>
                </h3>
            </div>
            <div class="product-image">
                <a class="#"> <img src="http://placehold.it/300x220/ffffCC/&amp;text=Product+Image"></a>
            </div>
            <ul class="product-options">
                <li class="price"><a href="#">250 TL</a></li>
                <li class="buy"><a href="#" class="btn">Detaylar</a></li>
            </ul>
        </div> 


    </div>

</div>