@using ProductDemo.Data.Model
@model System.Collections.Generic.List<Category>
    @{
        ViewBag.Title = "Home Page";
    }
<div class="row">

    @Html.Partial("MainMenu", Model)

    <div class="col-md-9">

        @Html.Partial("ProductList", Model.FirstOrDefault().Products)

    </div>

</div>
