@model IEnumerable<ProductDemo.Data.Model.Category>

<div class="span4">

    @{
        if (Model.Any())
        {
            <ul class="nav nav-pills nav-stacked">
                @foreach (var category in Model)
                {
                    <li>
                        @Html.ActionLink(category.CategoryName, "Index", "Category", new { id = category.CategoryId }, new { })
                    </li>
                }
            </ul>
        }
    }

</div>
