@model IEnumerable<ProductDemo.Data.Model.Product>
@foreach (var product in Model)
{
    <div class="span4 product">
        <div class="product-title">
            <h3>
                @Html.ActionLink(product.ProductName, "Index", "Product", new { id = product.ProductId }, new {})
            </h3>
        </div>
        <div class="product-image">
            <a href="@Url.Action("Index", "Product", new { id = product.ProductId })">
                <img width="300" height="220"
                     src="@string.Format("data:{0};base64,{1}", product.ProductImages.FirstOrDefault().ContentType, Convert.ToBase64String(product.ProductImages.FirstOrDefault().Content))">
            </a>

        </div>
        <div class="price">
            @{
                var priceFeature = product.ProductFeatures.FirstOrDefault(x => x.Name == "Fiyat");
                if (priceFeature != null)
                {
                    <span>@priceFeature.Value</span>
                }
                else
                {
                    <span>&nbsp;</span>
                }
            }
        </div>
    </div>
}
